// Jade file for query
// Inherits from layout
extend layout
block navbarcontent
    +nav_item("/") Home
    +nav_item("/page1") Music dataset
    +nav_item("/page2") Last.fm dataset
    
block content
  p
    |  #{title}:
  // Create a table with one row per result
  form(method="get", action="/page1sfs")
  p
    table
       tr
          td="Artist Name"
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td="Artist Familiarity"
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td="Duration"
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td="Year"
          td &nbsp;
      - for (var inx = 0; inx < results.length; inx++)
        tr
          td=results[inx].artist_name
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td=results[inx].artist_familiarity
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td=results[inx].duration
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td=results[inx].year
          td &nbsp;
          br
  // Put a click button that lets us return to the index page 
  form(method='get', action='/')
      input(type='submit', value='Home')
  // Put a click button that lets us return back to serach page
  form(method='get', action='/page1')
      input(type='submit', value='Back')


